<%= form_with(model: song) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :artist, class: "form-label"  %>
    <%= form.text_field :artist, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label"  %>
    <%= form.text_area :content, class: "form-control", rows: 16 %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
