<p style="color: green"><%= notice %></p>

<h1><%= @song_pro.title %></h1>
<h2><%= @song_pro.artist %></h2>

<div class="information">
  <dl>
    <% if @song_pro.tuning %>
      <dt class="tuning">Tuning</dt>
      <dd class="tuning">
        <%= @song_pro.tuning %>
      </dd>
    <% end %>
    <% if @song_pro.capo %>
      <dt class="capo">Capo</dt>
      <dd class="capo">
        <%= @song_pro.capo %>
      </dd>
    <% end %>
    <% if @song_pro.key %>
      <dt class="key">Key</dt>
      <dd class="key">
        <%= @song_pro.key %>
      </dd>
    <% end %>
    <% if @song_pro.tempo %>
      <dt class="tempo">Tempo</dt>
      <dd class="tempo">
        <%= @song_pro.tempo %>
      </dd>
    <% end %>
    <% if @song_pro.year %>
      <dt class="year">Year</dt>
      <dd class="year">
        <%= @song_pro.year %>
      </dd>
    <% end %>
    <% if @song_pro.album %>
      <dt class="album">Album</dt>
      <dd class="album">
        <%= @song_pro.album %>
      </dd>
    <% end %>
  </dl>
  <div id="chords">
      <div id="guitar">
        <% @song_pro.chords.each do |chord| %>
          <span>
            <%#= guitar_svg chord %>
          </span>
        <% end %>
      </div>
  </div>
</div>
<% @song_pro.sections.each do |section| %>
  <div class="section">
    <div class="name">
      <%= section.name %>
    </div>
    <div class="lines">
      <% section.lines.each do|line| %>
        <% if line.tablature? %>
          <div class="tablature">
            <%= line.tablature %>
          </div>
        <% elsif line.comment? %>
          <div class="comment">
            <%= line.comment %>
          </div>
        <% elsif line.measures? %>
          <div class="measures">
            <% line.measures.each do |measure| %>
              <div class="measure">
                <% measure.chords.each do |chord| %>
                  <div class="chord">
                    <%= formatted_chord(chord) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="line">
            <% line.parts.each do |part| %>
              <div class="part">
                <div class="chord">
                  <%= formatted_chord(part.chord) %>
                </div>
                <div class="lyric">
                  <%= part.lyric %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <%= link_to "Edit this song", edit_song_path(@song) %> |
  <%= link_to "Back to songs", songs_path %>

  <%= button_to "Destroy this song", @song, method: :delete %>
</div>
